<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Restaurant List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                ID
              </th>
              <th>
                Owner ID
              </th>
              <th >
                Region Name
              </th>
            </thead>
            <tbody>
              <tr *ngFor = "let rest of restaurants">
                <td>
                  {{rest.RESTAURANTNAME }}
                </td>
                <td>
                  {{rest.RESTAURANT_ID }}
                </td>
                <td>
                  {{rest.OWNER_ID }}
                </td>                  
                <td >
                  {{rest.REGION_NAME}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>
