
<div class="row">
    <div class="col-ms-7">
     
    
    </div>
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-body">

          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control"  placeholder="Username"  (change)="changeUsername($event)">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control"  placeholder="Password"  (change)="changePassword($event)">
                  </div>
                </div>
              </div> 

              <div class="col-md-5 pr-1">
                    <input type="radio" id="delivery" value="delivery"  (change)="changeType($event)">
                    <label for="delivery"> Delivery login</label><br>
               
                    <input type="radio" id="user"  value="user" (change)="changeType($event)" >
                    <label for="user"> Customer login</label><br>
               
                    <input type="radio" id="owner" value="owner" (change)="changeType($event)" >
                    <label for="owner"> Owner login</label><br>
 
              </div>
            <div class="row">
              <div class="login ml-auto mr-auto">
                <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-round">Login</button>
              </div>
            </div>
          </form>



        </div>
      </div>
    </div>
  </div>
  