
<div class="row">
    <div class="col-ms-7">
     
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Open Restaurants</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">


            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  BurgerKing
                  <br />
                  <span class="text-muted">
                    <small>Offline</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>

            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  Creative Tim
                  <br />
                  <span class="text-success">
                    <small>Available</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-ms-7 col-7">
                  Flume
                  <br />
                  <span class="text-danger">
                    <small>Busy</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-body">

          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control"  placeholder="Username"  (change)="changeUsername($event)">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control"  placeholder="Password"  (change)="changePassword($event)">
                  </div>
                </div>
              </div> 

              <div class="col-md-5 pr-1">
                    <input type="radio" id="delivery" value="delivery" (change)="changeType($event)">
                    <label for="delivery"> Delivery login</label><br>
               
                    <input type="radio" id="user"  value="user" (change)="changeType($event)" >
                    <label for="user"> User login</label><br>
               
                    <input type="radio" id="owner" value="owner"  (change)="changeType($event)" >
                    <label for="owner"> Owner login</label><br>
 
              </div>
            <div class="row">
              <div class="login ml-auto mr-auto">
                <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-round">Login</button>
              </div>
            </div>
          </form>



        </div>
      </div>
    </div>
  </div>
  