<ng-template #contentDelGuyReview let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Your Response</h4>
    <button type="button" class="close" aria-label="Close" (click)="clearResponse()" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
<form>
    <div class="form-group">
        <form class="review-form">
            <mat-form-field class="review-full-width">
              <mat-label>Leave a Response</mat-label>
              <input value="{{getMyResponse()}}"  class="form-control" (change)="setDeliveryGuyResponse($event)">
              <p>{{responseDeliveryGuyStatus}}</p>
            </mat-form-field>
        </form>
        <div class="example-button-row">
            <button type="button" (click)="saveResponse()" class="btn btn-primary">Save Response</button>
            <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')" >Cancel</button>
        </div>
    </div>
</form>
</div>
</ng-template>


<ng-template #contentRestaurantResponse let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Your Response</h4>
      <button type="button"  class="close" aria-label="Close" (click)="clearResponse()" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
  <form>
      <div class="form-group">
          <form class="review-form">
              <mat-form-field class="review-full-width">
                <mat-label>Leave a Response </mat-label>
                <input value="{{getMyResponse()}}" class="form-control" (change)="setRestaurantResponse($event)">
                <p>{{responseRestaurantStatus}}</p>
              </mat-form-field>
          </form>
          <div class="example-button-row">
              <button type="button" (click)="saveResponse()" class="btn btn-primary">Save Response</button>
              <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')" >Cancel</button>
          </div>
      </div>
  </form>
  </div>
</ng-template>

<div class="card">
<div class="card-header">
  <h4 class="card-title">{{getUserName()}}</h4>
</div>
<div class="card-body">
  <ul class="list-unstyled team-members">

    <li>
      <div class="row">
        <div class="col-md-2 col-2">
          <div class="avatar">
            <img  src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
          </div>
        </div>
        <div class="col-md-7 col-7">
          Credits: {{getCredits()}}
          <br/>
          Address: {{getAddress()}}
        </div>
        <div class="col-md-3 col-3 text-right">
          <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>

<div class="card">
<div class="card-header">
  <h4 class="card-title">Customer Reviews and Your Responses</h4>
</div>
<div class="card-body">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Order No.</th>
      <th>Order Status</th>
      <th>Restaurant Rating and Review</th>
      <th>Delivery Guy Rating and Review</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let order of orders;index as i">
      <button type="button" class="btn btn-primary" (click)="open(contentOrderInfo)">{{getOrderNo(i)}}</button>
      <td>{{getStatus(i)}}</td>
      <td><button type="button" class="btn btn-primary" (click)="open(contentRestaurantResponse)" (click)="setCustomerReview(i)" >See customer's rating and review</button></td>
      <td><button type="button" class="btn btn-primary" (click)="open(contentDelGuyReview)" (click)="setDelGuyReview(i)">See delivery-guy's rating and review</button></td>
    </tr>
    </tbody>
  </table>
</div>
</div>
