<ng-template #contentOptionAdder let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add New Option</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <p>Enter Option</p>
        <p><input (change)="setOption($event)"></p>
        <button type="button" (click)="saveOption()" (click)="modal.dismiss('Cross click')" class="btn btn-primary">Save Option</button>
      </div>
  </form>
  </div>
</ng-template>

<div class="row">
  <div class="col-ms-7">

    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{getOwnerName()}}</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">

          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                Restaurant: {{getRestaurantName()}}
                <br/>
                Branch: {{getBranch()}}
                <br/>
                Address: {{getAddress()}}
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Edit/Add Menu Item</h4>
      </div>
      <div class="card-body">
        <h6>Item Name</h6>
          <p><input matInput value="{{item.itemName}}">
        
        <h6>Item Price</h6>
          <p><input matInput value="${{item.itemPrice}}">

        <h6>Add/Edit Options</h6>

        <table class="table">
          <thead class=" text-primary">
              <th>Option</th>
              <th>Delete Item</th>
          </thead>
          <tbody>
            <tr *ngFor="let choice of options;index as i" [value]="choice">
              <td>{{choice}}</td>
              <td><button class="btn btn-primary" (click)="onRemoveOption(i)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        <br>
        <button class="btn btn-primary" (click)="open(contentOptionAdder)">Add</button>
        


      </div>
    </div>
    <div>
      <p></p>
      <button mat-button-raised class="btn btn-primary" (click)="saveChanges()" [routerLink]="['/owner/owner-menu-editor']">Save Edit and Return to Menu Editor</button>
    </div>
  </div>
</div>
