<div class="card">
    <div class="card-header">
      <h4 class="card-title">{{getOwnerName()}}</h4>
    </div>
    <img mat-card-image src="{{getRestaurantLogo()}}" alt="Restaurant Logo">
    <div class="card-body">
      <ul class="list-unstyled team-members">

        <li>
          <div class="row">
            <div class="col-md-2 col-2">
              <div class="avatar">
                <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
            </div>
            <div class="col-md-7 col-7">
                {{getRestaurantName()}}
                <br/>
                {{getBranch()}}
                <br/>
                {{getAddress()}}
            </div>
            <div class="col-md-3 col-3 text-right">
              <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
            </div>
          </div>
        </li>

      </ul>
    </div>
</div>