<ng-template #contentOrderInfo let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Order Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
  <form>
      <div class="form-group">
      <p>Items: {{getOrderItems()}}</p>
      <p>Price: ${{getOrderPrice()}}</p>
      </div>
  </form>
  </div>
</ng-template>

<ng-template #contentOrderStatus let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delivery Request</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
  <p>Your request for a delivery-guy has been made!</p>
  </div>
</ng-template>

<div class="row">
    <div class="col-ms-7">
  
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{getOwnerName()}}</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
  
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  Restaurant: {{getRestaurantName()}}
                  <br/>
                  Branch: {{getBranch()}}
                  <br/>
                  Address: {{getAddress()}}
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Order History and Delivery Requests</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead class=" text-primary">
                <th>Order No.</th>
                <th>Status</th>
                <th>Availability</th>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders; index as i">
                    <button type="button" (click)="open(contentOrderInfo)" (click)="setInfo(i)"  class="btn btn-primary">{{getOrderNo(i)}}</button>
                    <td>{{getStatus(i)}}</td>
                    <button type="button" [disabled]="check(order.orderState)" (click)="actionMethod(); clicked = true;" (click)="open(contentOrderStatus)" class="btn btn-primary">Request Delivery-Guy</button>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      
    </div>
  </div>