<div class="card">
    <div class="card-header">
      <h4 class="card-title">{{getOwnerName()}}</h4>
    </div>
    <div class="card-body">
      <ul class="list-unstyled team-members">

        <li>
          <div class="row">
            <div class="col-md-2 col-2">
              <div class="avatar">
                <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
            </div>
            <div class="col-md-7 col-7">
              {{getRestaurantName()}}
              <br />
              {{getBranch()}}
              <br />
              {{getAddress()}}
            </div>
            <div class="col-md-3 col-3 text-right">
              <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
            </div>
          </div>
        </li>

      </ul>
    </div>
</div>

<table class="table">
    <thead class=" text-primary">
        <th>Order No.</th>
        <th>Status</th>
        <th>Availability</th>
    </thead>
    <tbody>
        <tr *ngFor="let order of orderRows">
            <td>{{getOrderNo(order)}}</td>
            <td>{{getStatus(order)}}</td>
            <button type="button" [disabled]="clicked" (click)="actionMethod(); clicked = true;" class="btn btn-primary">Request Delivery-Guy</button>
        </tr>
    </tbody>
</table>