


<ng-template #contentOrderInfo let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Order Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <form>
        <div *ngFor="let order of orderDetail">
       <p>{{order.FOODNAME}}, &nbsp;  {{order.AMOUNT}}x, &nbsp; {{order.PRICE}} $ (singular)</p>
        </div>
    </form>
    </div>
</ng-template>

<ng-template #contentCustomerReview let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Customer's Review and Rating</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <form>
        <div class="form-group">
        <p> Review: {{getCustomerReview()}} </p>
        <p> Rating: {{getCustomerRating()}} </p>
        </div>
    </form>
    </div>
</ng-template>

<ng-template #contentDelGuyReview let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delivery Guy's Review of the Customer</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <form>
        <div class="form-group">
        <p> Review: {{getdelGuyReview()}}</p>
        <p> Rating: {{getdelGuyRating()}}</p>
        </div>
    </form>
    </div>
</ng-template>


<ng-template #contentMyResponse let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Your Response</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <form>
        <div class="form-group">
            <form class="review-form">
                <mat-form-field class="review-full-width">
                  <mat-label>Leave a Response</mat-label>
                  <input value="{{currentOrder.restaurantResponse}}">
                  <p>{{responseStatus}}</p>
                </mat-form-field>
            </form>
            <div class="example-button-row">
                <button type="button" (change)="saveResponse($event)" class="btn btn-primary">Save Response</button>
                <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')" >Cancel</button>
            </div>
        </div>
    </form>
    </div>
</ng-template>

<h1>Customer Reviews and Your Responses</h1>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">{{restaurantinfo.name}}</h4>
  </div>
  <div class="card-body">
    <ul class="list-unstyled team-members">

      <li>
        <div class="row">
          <div class="col-md-2 col-2">
            <div class="avatar">
              <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
            </div>
          </div>
          <div class="col-md-7 col-7">
            Restaurant: {{orders[0].RESTAURANTNAME}}
            <br/>
            Branch: {{orders[0].REGION_NAME}}
           
            
          </div>
          <div class="col-md-3 col-3 text-right">
            <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Respond to Reviews</h4>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Order No.</th>
        <th>Order Status</th>
        <th>Restaurant Rating and Review</th>
        <th>Delivery Guy Rating and Review</th>
        <th>My Response</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders;index as i">
        <button type="button" class="btn btn-primary" (click)="open(contentOrderInfo, order.ORDER_NO)">{{order.ORDER_NO}}</button>
        <td>{{order.ORDERSTATE}}</td>
        <td><button type="button" class="btn btn-primary" (click)="open(contentCustomerReview)" (click)="setCustomerReview(order.ORDER_NO)" >See customer's rating and review</button></td>
        <td><button type="button" class="btn btn-primary" (click)="open(contentDelGuyReview)" (click)="setDelGuyReview(order.ORDER_NO)">See delivery-guy's rating and review</button></td>
        <td><button type="button" class="btn btn-primary" (click)="open(contentMyResponse)" (click)="setResponseIndex(order.ORDER_NO)">See and edit my response</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<hr>

<pre>{{ closeResult }}</pre>