<div class="card">
    <div class="card-header">
      <h4 class="card-title">{{ownerName}}</h4>
    </div>
    <img mat-card-image src="./assets/{{getRestaurantName()}}" alt="Restaurant Logo">
    <div class="card-body">
      <ul class="list-unstyled team-members">

        <li>
          <div class="row">
            <div class="col-md-2 col-2">
              <div class="avatar">
                <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
            </div>
            <div class="col-md-7 col-7">
                {{RestaurantName}}
                <br/>
                {{Branch}}
                <br/>
                {{Address}}
            </div>
            <div class="col-md-3 col-3 text-right">
              <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
            </div>
          </div>
        </li>

      </ul>
    </div>
</div>


<ng-template #contentOrderInfo let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Order Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <form>
        <div class="form-group">
          <p>Items: {{getOrderItems()}}</p>
          <p>Price: ${{getOrderPrice()}}</p>
        </div>
    </form>
    </div>
</ng-template>

<ng-template #contentCustomerReview let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Customer's Review and Rating</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <form>
        <div class="form-group">
        <p>Review: {{getCustomerReview()}} </p>
        <p>Rating: {{getCustomerRating()}} </p>
        </div>
    </form>
    </div>
</ng-template>

<ng-template #contentDelGuyReview let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delivery Guy's Review of the Customer</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <form>
        <div class="form-group">
        <p>Review: {{getdelGuyReview()}}</p>
        <p>Rating: {{getdelGuyRating()}}</p>
        </div>
    </form>
    </div>
</ng-template>


<ng-template #contentMyResponse let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Your Response</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <form>
        <div class="form-group">
            <form class="review-form">
                <mat-form-field class="review-full-width">
                  <mat-label>Leave a Response</mat-label>
                  <input matInput value="{{getMyResponse()}}">
                  <p>{{responseStatus}}</p>
                </mat-form-field>
            </form>
            <div class="example-button-row">
                <button type="button" (click)="saveResponse()" class="btn btn-primary">Save Response</button>
                <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')" >Cancel</button>
            </div>
        </div>
    </form>
    </div>
</ng-template>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">A table of some kind</h4>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Order No.</th>
        <th>Order Status</th>
        <th>Customer Rating and Review</th>
        <th>Delivery Guy Rating and Review</th>
        <th>My Response</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders;index as i">
        <button type="button" class="btn btn-primary" (click)="open(contentOrderInfo)">{{getOrderNo(i)}}</button>
        <td>{{getStatus(i)}}</td>
        <td><button type="button" class="btn btn-primary" (click)="open(contentCustomerReview)" (click)="setCustomerReview(i)" >See customer's rating and review</button></td>
        <td><button type="button" class="btn btn-primary" (click)="open(contentDelGuyReview)" (click)="setDelGuyReview(i)">See delivery-guy's rating and review</button></td>
        <td><button type="button" class="btn btn-primary" (click)="open(contentMyResponse)" (click)="setResponse(i)">See and edit my response</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<hr>

<pre>{{ closeResult }}</pre>