<div class="card">
    <div class="card-header">
      <h4 class="card-title">{{getCustomerName()}}</h4>
    </div>
    <div class="card-body">
      <ul class="list-unstyled team-members">

        <li>
          <div class="row">
            <div class="col-md-2 col-2">
              <div class="avatar">
                <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
            </div>
            <div class="col-md-7 col-7">
              {{getCredits()}}
              <br />
              {{getAddress()}}
            </div>
            <div class="col-md-3 col-3 text-right">
              <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
            </div>
          </div>
        </li>

      </ul>
    </div>
</div>

<div class="container text-center">
    <h1>{{title}}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="search-restaurant">
            <input class="form-control" type="text" name="search" value="" (change)="getCity($event)" autocomplete="off" placeholder="&#61442;  Search for restaurants in your area">
        </div>
        <table class="table">
            <thead class=" text-primary">
                <th>Name</th>
                <th>Availability</th>
                <th>Type</th>
                <th>Average Delivery Time</th>
                <th>Minimum Price</th>
            </thead>
            <tbody>
                <tr *ngFor="let restaurant of restaurants | filter:searchText">
                    <mat-nav-list>
                        <a mat-list-item [routerLink]="['/order']">
                          <span matLine>{{restaurant.name}}</span>
                          <span matLine>{{restaurant.availability}}</span>
                          <span matLine>{{restaurant.type}}</span>
                          <span matLine>{{restaurant.avgDelTime}}</span>
                          <span matLine>{{restaurant.minPrice}}</span>
                        </a>
                    </mat-nav-list>
                </tr>
            </tbody>
        </table>
    </div> 
</div>