<div class="container text-center">
    <h1>{{title}}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="search-restaurant">
            <input class="form-control" type="text" name="search" value="" (change)="getCity($event)" autocomplete="off" placeholder="&#61442;  Search for restaurants in your area">
        </div>
        <table class="table">
            <thead class=" text-primary">
                <th>Name</th>
                <th>Availability</th>
                <th>Type</th>
                <th>Average Delivery Time</th>
                <th>Minimum Price</th>
            </thead>
            <tbody>
                <tr *ngFor="let restaurant of restaurants | filter:searchText">
                    <mat-nav-list>
                        <a mat-list-item [routerLink]="['/order']">
                          <span matLine>{{restaurant.name}}</span>
                          <span matLine>{{restaurant.availability}}</span>
                          <span matLine>{{restaurant.type}}</span>
                          <span matLine>{{restaurant.avgDelTime}}</span>
                          <span matLine>{{restaurant.minPrice}}</span>
                        </a>
                    </mat-nav-list>
                </tr>
            </tbody>
        </table>
    </div> 
</div>