
<div class="card">
    <div class="card-header">
      <h4 class="card-title">{{customer.fullName}}</h4>
    </div>
    <div class="card-body">
      <ul class="list-unstyled team-members">

        <li>
          <div class="row">
            <div class="col-md-2 col-2">
              <div class="avatar">
                <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
            </div>
            <div class="col-md-7 col-7">
              {{customer.credits}}
              <br />
              {{customer.address}}
            </div>
            <div class="col-md-3 col-3 text-right">
              <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
            </div>
          </div>
        </li>

      </ul>
    </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">{{title}}</h4>
  </div>
  <div class="card-body">
    <table class="table">
      <thead class=" text-primary">
        <th>Restaurant Name</th> <th>Restaurant Rating</th> <th>Restaurant Region</th>
      </thead>
      <tbody>
        <tr *ngFor="let restaurant of restaurants">
          <td><button mat-button-raised class="btn btn-primary" [routerLink]="['/user/user-order/',restaurant.restaurant_id]" 
            (click)="gotoRestaurantDetails('/user/user-order/',restaurant.restaurant_id)">{{restaurant.restaurantname}}</button></td>
          <td>BURAYA RESTAURANT RATING VARSA KONULUR{{restaurant.restaurant_id}}</td>
          <td>{{restaurant.region_name}}</td>
        </tr>
      </tbody>

      
    </table>
   
  </div>
</div>