  <h2>
    Saved Combos
  </h2>
  <li style="font-size:130%;"> Combo Menu 1 &nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Order</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Remove</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">View Content</button></li><br>
  <li style="font-size:130%;"> Combo Menu 2 &nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Order</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Remove</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">View Content</button></li><br>
  <li style="font-size:130%;"> Combo Menu 3 &nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Order</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Remove</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">View Content</button></li><br>
  <li style="font-size:130%;"> Combo Menu 4 &nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Order</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Remove</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">View Content</button></li><br>
  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <nav>
    <a [routerLink]="['/user/user-combo']" style="float: center;">Return to Current Combo</a>
  </nav>
  <router-outlet></router-outlet>>