<h3>
    Saved Combos
  </h3>
  <li> Combo Menu 1 &nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Order</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Remove</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">View Content</button></li><br>
  <li> Combo Menu 2 &nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Order</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Remove</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">View Content</button></li><br>
  <li> Combo Menu 3 &nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Order</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Remove</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">View Content</button></li><br>
  <li> Combo Menu 4 &nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Order</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">Remove</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button">View Content</button></li><br>
  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <nav>
    <a routerLink="page1">Return to Current Combo</a>
  </nav>
  <router-outlet></router-outlet>>