  <ng-template #contentComboDetails let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Combo Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <form>
        <div class="form-group">
          <table class="table">
            <thead class=" text-primary">
              <th>Item Name</th>
              <th>Item Price</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of menu; index as i" [value]="item.itemName">
              <td>{{item.itemName}}</td>
              <td>${{item.itemPrice}}</td>
            </tr>
            </tbody>
        </table>
        </div>
    </form>
    </div>
  </ng-template>
  

  
  <ng-template #contentRemoveCombo let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Remove Combo</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="order">Are you sure you want to remove this combo from your combos?</label>
          <p>
          <div class="example-button-row">
            <button type="button" class="btn btn-outline-dark" (click)="removeCombo($event)" (click)="modal.dismiss('Cross click')" [routerLink]="['/user/user-combo-order']" >Delete Combo</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  
  <ng-template #contentOrderCombo let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Order Combo</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="order">Are you sure you want to finalize your order?</label>
          <p>Order Cost: ${{currentCombo.price}}</p>
          <div class="example-button-row">
            <button type="button" class="btn btn-outline-dark" (click)="proceedToCheckout($event)" (click)="modal.dismiss('Cross click')" >Order Combo</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  
  
  <h1>Saved Combos</h1>
  
  <div class="row">
    <div class="col-md-12">
  
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{customer.fullName}}</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
    
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  Credits: {{customer.credits}}
                  <br />
                  Address: {{customer.address}}
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
    
          </ul>
        </div>
      </div>
  
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Your Saved Combos</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead class=" text-primary">
                <th>Combo Name</th>
                <th>Combo Details</th>
            </thead>
            <tbody>
              <tr *ngFor="let combo of combos; index as i" [value]="combo.comboName">
                <td>{{combo.comboName}}</td>
                <td><button class="btn btn-primary" (click)="open(contentComboDetails)">See Combo Details</button></td>
                <td><button mat-button-raised class="btn btn-primary" [routerLink]="['/user/user-combo/', combo.combo_id]" (click)="gotoComboDetails('/user/user-combo/',combo.combo_id)">Edit Combo</button></td>
                <td><button class="btn btn-primary" (click)="open(contentOrderCombo)">Order Combo</button></td>
                <td><button class="btn btn-primary" (click)="open(contentRemoveCombo)">Remove Combo</button></td>
              </tr>
            </tbody>
  
            
          </table>
         
        </div>
      </div>
  
  
      <div>
        <p></p>
        <button mat-button-raised class="btn btn-primary"  [routerLink]="['/user/user-combo/', newComboId]" (click)="gotoComboDetails('/user/user-combo/',newComboId)">Add a New Combo</button>
      </div>
  
  
    </div>
  </div>