<ng-template #contentorderdetails let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Order Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
  <form>
      
      <div *ngFor="let order of orderDetail">
      <p>{{order.FOODNAME}}, &nbsp;  {{order.AMOUNT}}x, &nbsp; {{order.PRICE}} $ (singular)</p>
      
      </div>
  </form>
  </div>
</ng-template>


<h1>New Assignments</h1>


<div class="row">
  <div class="col-md-12">

    <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{getName()}}</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">

            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  Title: {{getJob()}}
                  <br />
                  Rating : {{getRating()}}
                  <br />
                  Join Date: {{getJoinDate()}}
                  <br />
                  Status: {{delGuyInfo.status}}
                </div>
                <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                  <button class="btn btn-outline-primary mr-2" id="dropdownRegionBox" ngbDropdownToggle>Region Selection</button>
                  <div  ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <div *ngFor="let reg of region">
                      <button ngbDropdownItem  value="{{reg}}" (click)="regionSet($event)">{{reg}}</button>
                    </div>
                  </div>
                </div>
              
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>

          </ul>
        </div>
        
    </div>

    
    <div class="row">
      <div class="col-md-12">
    
        <div class="card">
            <div class="card-header">
              <h4 class="card-title">Accept/Decline Assignments</h4>
            </div>
            <div class="card-body">
              <div class="search-assignments">
                <input type="text" class="form-control" size = "35"  placeholder="Search by restaurant name"  (change)="changeRestaurantSelection($event)">
                <button class="btn btn-primary" (click)="submitRestaurantFilter()" type="submit"> Search</button>
                <button class="btn btn-primary" (click)="refreshFilter()" type="submit"> clear</button>
              </div>
              <table class="table">
                  <thead >
                      <th scope="col">Customer Id</th>
                      <th scope="col">Order Item Details</th>
                      <th scope="col">Order Status</th>
                      <th scope="col">Restaurant Name</th>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let assign of assignments" >
                      <td>{{assign.CUSTOMER_ID}}</td>
                      <td><button type="button" class="btn btn-primary" (click)="open(contentorderdetails)" (click)="getOrderDetails(assign.ORDER_NO)" >See Order Details</button></td>
                      <td>{{assign.ORDERSTATE}}</td>
                      <td>{{assign.RESTAURANTNAME}}</td>
                      <td><button class="btn btn-primary" (click)="declineAssignment()" disabled = {{clicked}} hidden="hidden" >Decline</button></td>
                      <td><button class="btn btn-primary" value="{{assign.ORDER_NO}}" (click)="acceptAssignment($event);"  disabled = {{clicked}}>Accept</button></td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div> 
        </div> 
    </div>
  </div> 
</div>