<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
}
</style>
</head>
<body>

<h2>Make A Combo</h2>

<div class="row">
  <div class="column" style="background-color:white;">
    <label>Search a Restaurant:  </label>
    <input type="text" class="form-control" placeholder="Restaurant name here.." (change)="getSearchedRestaurantName($event)" >
    <br><br>
    <button class="btn">Choose Item From Menu</button>
    <br><br><br><br><br><br><br><br><br>

      <button class="btn" value="item1" (click)="additem($event)">Item 1</button>
      <button class="btn" value="item2" (click)="additem($event)">Item 2</button>
      <button class="btn" value="item3" (click)="additem($event)">Item 3</button>
      <button class="btn" value="item4" (click)="additem($event)">Item 4</button>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button">Add Item To Combo</button>
  </div>

  <div class="column" style="background-color:white;">
    <label>Current Combo  </label>
    <br><br>
      <li>Combo Item 1 <button class="btn" value="combo1" (click)="changeCombo($event)"><i class="fa fa-trash"></i></button></li><br>
      <li>Combo Item 2 <button class="btn" value="combo2" (click)="changeCombo($event)"><i class="fa fa-trash"></i></button></li><br>
      <li>Combo Item 3 <button class="btn" value="combo3" (click)="changeCombo($event)"><i class="fa fa-trash"></i></button></li><br>
      <li>Combo Item 4 <button class="btn" value="combo4" (click)="changeCombo($event)"><i class="fa fa-trash"></i></button></li><br>
      <li>Combo Item 5 <button class="btn" value="combo5" (click)="changeCombo($event)"><i class="fa fa-trash"></i></button></li><br>
      <li>Combo Item 6 <button class="btn" value="combo6" (click)="changeCombo($event)"><i class="fa fa-trash"></i></button></li><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" (click)="SaveCombo()">Save Combo</button>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" (click)="OrderCombo()">Order Combo</button>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <nav>
      <a routerLink="page2">Previously Saved Combos</a>
    </nav>
    <router-outlet></router-outlet>>
  
  </div>
</div>
</body>
</html>