<ng-template #contentAddItemToCombo let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Customize and Add to Combo</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
  <form>
      <div class="form-group">
      <label for="choice">Select Options</label>
      <p>
      <select *ngFor="let choice of options" [value] ="selectedSize">
          <option value="choice">{{choice}}</option>
      </select>
      </div>
  </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="addToCombo($value)" (click)="modal.dismiss('Cross click')" value="item">Add to Combo</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
  </div>
</ng-template>

<ng-template #contentDeleteItemFromCombo let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Item Removal</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
  <form>
      <div class="form-group">
      
      <p>Are you sure you want to remove this item from your combo?</p>
      
      </div>
  </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="removeFromCombo($value)" (click)="modal.dismiss('Cross click')" value="item">Remove from Combo</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
  </div>
</ng-template>

<ng-template #contentSaveCombo let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Save Combo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="order">Are you sure you want to save this combo?</label>
        <p>
        <div class="example-button-row">
          <button type="button" class="btn btn-outline-dark" (click)="saveCombo($event)" (click)="modal.dismiss('Cross click')" [routerLink]="['/user/user-combo-order']" >Save Combo</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #contentOrderCombo let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Order Combo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="order">Are you sure you want to finalize your order?</label>
        <p>
        <p>Order Cost: {{newCombo.price}}</p>
        <div class="example-button-row">
          <button type="button" class="btn btn-outline-dark" (click)="proceedToCheckout($event)" (click)="modal.dismiss('Cross click')" >Order Combo</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>


<h1>Combo Maker</h1>

<div class="row">
  <div class="col-md-12">

    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{customer.fullName}}</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
  
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                Credits: {{customer.credits}}
                <br />
                Address: {{customer.address}}
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
  
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h4 class="card-title">View {{restaurant.restaurantname}} Menu</h4>
      </div>
      <div class="card-body">
        <div class="search-Restaurant">
          <input type="text" class="form-control" size = "35"  placeholder="Search by restaurant name"  (change)="changeRestaurantSelection($event)">
            <button class="btn btn-primary" (click)="submitRestaurantFilter()" type="submit"> Search</button>
            <button class="btn btn-primary" (click)="refreshFilter()" type="submit"> Clear</button>
        </div>

        <table class="table">
          <thead class=" text-primary">
              <th>Item Name</th>
              <th>Add Item To Combo</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of menu; index as i" [value]="item.itemName">
              <td>{{item.itemName}}</td>
              <td><button class="btn btn-primary" (click)="open(contentAddItemToCombo)">Add</button></td>
            </tr>
          </tbody>

          
        </table>
       
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h4 class="card-title">New Combo</h4>
      </div>
      <div class="card-body">
          <table class="table">
              <thead class=" text-primary">
                <th>Item Name</th>
                <th>Delete Item From New Combo</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of combo; index as i" [value]="item.itemName">
                <td>{{item.itemName}}</td>
                <td><button class="btn btn-primary" (click)="open(contentDeleteItemFromCombo)">Delete</button></td>
              </tr>
              </tbody>
          </table>
          <button type="button" class="btn btn-outline-dark" (click)="open(contentSaveCombo)">Save Combo</button>
          <button type="button" class="btn btn-outline-dark" (click)="open(contentOrderCombo)">Order Combo</button>
      </div>
    </div>



    <div>
      <p></p>
      <button mat-button-raised class="btn btn-primary" [routerLink]="['/user/user-combo-order']">Previously Saved Combos</button>
    </div>


  </div>
</div>