<div class="card">
    <div class="card-header">
      <h4 class="card-title">{{getName()}}</h4>
    </div>
    <div class="card-body">
      <ul class="list-unstyled team-members">

        <li>
          <div class="row">
            <div class="col-md-2 col-2">
              <div class="avatar">
                <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
            </div>
            <div class="col-md-7 col-7">
              {{getJob()}}
              <br />
              {{getRating()}}
              <br />
              {{getJoinDate()}}
            </div>
            <div class="col-md-3 col-3 text-right">
              <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
            </div>
          </div>
        </li>

      </ul>
    </div>
</div>


<div class="container text-center">
    <h1>{{title}}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="search-assignments">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search for restaurants in your area">
        </div>
        <table class="table">
            <thead class=" text-primary">
                <th>Customer Name</th>
                <th>Order Details</th>
                <th>Delivery Status</th>
                <th>Delivery Rating and Review</th>
            </thead>
            <tbody>
                <tr *ngFor="let assignment of assignments">
                    <button mat-raised-button>{{assignment.customerName}}</button>
                    <button mat-raised-button>{{assignment.orderDetails}}</button>
                    <button mat-raised-button>{{assignment.deliveryStatus}}</button>
                    <button mat-raised-button>{{assignment.serviceRating}}</button>
                </tr>
            </tbody>
        </table>
    </div> 
</div>