<div class="card">
    <div class="card-header">
      <h4 class="card-title">{{getName()}}</h4>
    </div>
    <div class="card-body">
      <ul class="list-unstyled team-members">

        <li>
          <div class="row">
            <div class="col-md-2 col-2">
              <div class="avatar">
                <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
            </div>
            <div class="col-md-7 col-7">
              Title: {{getJob()}}
              <br />
              Rating : {{getRating()}}
              <br />
              Join Date: {{getJoinDate()}}
            </div>
            <div class="col-md-3 col-3 text-right">
              <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
            </div>
          </div>
        </li>

      </ul>
    </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">{{title}}</h4>
  </div>
  <div class="card-body">
    <div class="container">
        <div class="row">
            <div class="search-assignments">
                <input class="form-control" size="35" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search by restaurant name">
            </div>
            <table class="table">
                <thead >
                    <th scope="col">Customer Name</th>
                    <th scope="col">Order Details</th>
                    <th scope="col">Delivery Status</th>
                    <th scope="col">Delivery Rating and Review</th>
                    <th scope="col">Restaurant Name</th>
                </thead>
                <tbody>
                  <tr *ngFor="let assignment of assignments">
                    <td>{{assignment.customerName}}</td>
                    <td>{{assignment.items}}</td>
                    <td>{{assignment.orderState}}</td>
                    <td>{{assignment.restaurantRating}}</td>
                    <td>{{assignment.restaurantName}}</td>
                  </tr>
                </tbody>
            </table>
        </div> 
    </div>
  </div>
</div>

